:root {
    --bs-font-sans-serif: Roboto, sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: #252525;
    --bs-body-color-rgb: 133, 133, 133;
    --light-color: #8c8c8c;
    --bs-body-font-size: 1.2rem;
}

a {
    word-break: break-word;
    text-decoration: none;
}

@media print {
    :root {
        --bs-body-color: #000;
    }

    body {
        font-size: 0.7rem;
    }

    a {
        text-decoration: underline;
    }

    p {
        margin-bottom: 0;
    }

    .mb-print-05{
        margin-bottom: 0.5rem !important;
    }

    .print-h2 {
        font-size: 1.2rem !important;
        --bs-border-width: 1px;
        --bs-border-opacity: 1;
        --bs-border-color: #252525;
        border-color: rgba(var(--bs-dark-rgb),var(--bs-border-opacity)) !important;
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .print-h4 {
        font-size: 1rem !important;
    }

    .print-single-row {
        width: 100%;   
    }

    .page {
        min-width: 100%;
    }

    .screen {
        display: none;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .badge {
        border: 0.07rem solid #868e96;
        color: var(--dark-color) !important;
        background-color: inherit;
    }

    .print-url {
        color: #deeef9;
        text-decoration: none;
        font-size: smaller;
    }

    .text-print-right {
        text-align: right;
    }
}

@media not print {
    .page {
        padding: 2rem;
    }

    .print {
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    strong {
        font-weight: 500;
    }

    .skills-container {
        display: flex;
        justify-content: space-between;
    }
}

.far,
.fab,
.fas,
.fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .border-print-0 {
        border-width: 0 !important;
    }

    .pb-print-0 {
        padding-bottom: 0 !important;
    }

    .mb-print-1 {
        margin-bottom: 1rem !important;
    }
}

.fact-icon {
    width: 1em;
    color: var(--light-color);
    margin-right: 0.5rem;
}

@page {
    size: auto;
    margin: 10mm;
}

@media (max-width: 600px) {
    /* CSS styles to apply when the screen is 600px or less */
    .skills-container {
        display: block;
    }
  }