<script>
    const apiUrl = 'https://4su6xysix1.execute-api.us-east-2.amazonaws.com/test/';
    async function incrementCounter() {
    let counter = document.getElementById("counter");
    const hasVisitedBefore = localStorage.getItem('visitedBefore');
    let visitors = await getVisitors(); // Await the result of getVisitors
    console.log(visitors);
    if (!hasVisitedBefore) {
        visitors++;
        localStorage.setItem('visitedBefore', 'true');
        updateVisitors(visitors);
    }

    counter.innerText = visitors;
}

async function getVisitors() {
    try {
        const response = await fetch(apiUrl + 'get-visitors');
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const responseData = await response.json();
        // Parse the body property
        const body = JSON.parse(responseData.body);
        // Access the visitors data
        const visitor_count = body.visitors;
        console.log(visitor_count);
        return visitor_count;
    } catch (error) {
        // Handle errors
        console.error('There was a problem with the request:', error);
        return 0; // Return a default value in case of error
    }
}

async function updateVisitors(visitor_count) {
    if (typeof visitor_count !== 'number' || visitor_count < 0) {
        console.error('Invalid visitor count');
        return;
    }
    try {
        fetch(apiUrl + 'update-visitors', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'visitor_count': visitor_count
            }),
        })
        .then(response => {
        console.log(response.status);
        });
    } catch (error) {
        // Handle errors
        console.error('There was a problem with the request:', error);
        return 0; // Return a default value in case of error
    }
}
</script>